pytube==15.0.0
langchain-community==0.3.7
langchain-chroma==0.1.4
fastapi>=0.95.2,<1
uvicorn==0.30.6
PyYAML>=5.3
SQLAlchemy<2.0.36,>=1.4
aiohttp<4.0.0,>=3.8.3
dataclasses-json<0.7,>=0.5.7
httpx-sse<0.5.0,>=0.4.0
langchain<0.4.0,>=0.3.7
langchain-core<0.4.0,>=0.3.17
langsmith<0.2.0,>=0.1.125
numpy<2.0.0,>=1.26.0
pydantic-settings<3.0.0,>=2.4.0
requests<3,>=2
tenacity!=8.4.0,<10,>=8.1.0
chromadb!=0.5.4,!=0.5.5,<0.6.0,>=0.4.0
